**/.DS_Store
.cache
.tmproj
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.bak
Thumbs.db
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*
docs/

public/*
_public/
node_modules/*
app/js
app/php/application/logs/
app/php/application/cache/
app/php/application/config/db_pass.php
test/unit/*.js
test/e2e/*.js
npm-debug.log
app/partials/novels.json
app/data/past-update.json
docs/simplehtmldom_1_5/
app/styles/themes/*.css
app/styles/vendor/*.css
