              <select name="category" id="category" class="category">
                <option value="全て">全て</option>
                <option value="エヴァ">エヴァ</option>
                <option value="ナデシコ">ナデシコ</option>
                <option value="赤松健">赤松健</option>
                <option value="TYPE-MOON">TYPE-MOON</option>
                <option value="MuvLuv">Muv-Luv</option>
                <option value="スクエニ">スクエニ</option>
                <option value="サモンナイト">サモンナイト</option>
                <option value="とらハ">とらハ</option>
                <option value="椎名高志">椎名高志</option>
                <option value="ナルト">ナルト</option>
                <option value="ゼロ魔">ゼロ魔</option>
                <option value="HxH">HxH</option>
                <option value="オリジナル">オリジナル</option>
                <option value="その他">その他</option>
                <option value="チラシの裏">チラシの裏</option>
              </select>
